body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  position: relative;
  color: #3d3d3d;
  background: #f5f7fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}
p {
  margin: 0;
}
a {
  display: inline-block;
  transition: all ease 0.6s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

small {
  display: inline-block;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

/* media style */
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
}

/*==== sticky-nev start=== */
/* Styling for the preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 150px;
  }
}
// wrapper start
.wrapper {
  // left item start
  .LeftItem {
    /* width */
    ::-webkit-scrollbar {
      width: 3px;
      transition: all ease 0.6s;
    }

    /* Track */
    :hover::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.299);
      border-radius: 4px;
      transition: all ease 0.6s;
    }

    /* Handle */
    :hover::-webkit-scrollbar-thumb {
      background: #53a9f93c;
      border-radius: 5px;
      transition: all ease 0.6s;
    }

    /* Handle on hover */
    :hover::-webkit-scrollbar-thumb {
      background: #53a9f963;
      transition: all ease 0.6s;
    }
    position: fixed;
    left: 0;
    top: 0;
    width: 19%;
    height: 100vh;
    padding-top: 30px;
    transition: all ease 0.6s;
    .mobileButton {
      right: 10px;
      top: 10px;
      z-index: 999;
    }
    // minimize style
    &.highlighted {
      width: 8%;
      transition: all ease 0.6s;
      nav {
        .navList {
          .navItem {
            .navLink {
              padding-left: 20px;
              padding-right: 20px;
              text-align: center;
              transition: all ease 0.6s;
              span {
                opacity: 0;
                width: 0;
                transition: all ease 0.6s;
              }
            }
          }
          .accordion-button {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            justify-content: center;
            &::after {
              right: 15px;
            }
            span {
              opacity: 0;
              width: 0;
              transition: all ease 0.6s;
            }
          }
          .accordion-collapse {
            ul {
              padding-left: 10px;
              padding-right: 10px;
              li {
                margin-bottom: 5px;
                a {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .TopItem {
        margin-bottom: 30px;
        a {
          img {
            opacity: 0;
            width: 0;
            transition: all ease 0.6s;
          }
        }
        button {
          left: 0;
          margin: 0 auto;
          transition: all ease 0.6s;
        }
      }
    }
    .TopItem {
      margin-bottom: 30px;
      min-height: 45px;
      transition: all ease 0.6s;
      a {
        transition: all ease 0.6s;
        img {
          transition: all ease 0.6s;
          width: auto;
        }
      }
      button {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 0;
        transition: all ease 0.6s;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    nav {
      .navList {
        overflow-y: auto;
        overflow-x: hidden;
        height: 84vh;
        padding-bottom: 20px;
        .navItem {
          &:hover {
            .navLink {
              color: #53aaf9;
              font-weight: 700;
              &::before {
                opacity: 1;
              }
            }
          }

          .navLink {
            transition: all ease 0.1s;
            color: #b1b1b1;
            font-family: 'Nunito Sans';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            gap: 26px;
            align-items: center;
            padding-top: 18px;
            padding-bottom: 18px;
            padding-left: 46px;
            padding-right: 46px;
            position: relative;
            svg {
              width: 25px;
            }
            span {
            }
            &::before {
              position: absolute;
              content: '';
              left: 0;
              top: 0;
              width: 6px;
              height: 100%;
              background-color: #53aaf9;
              border-radius: 0px 10px 10px 0px;
              transition: all ease 0.8s;
              opacity: 0;
            }
            &.active {
              color: #53aaf9;
              font-weight: 700;
              &::before {
                opacity: 1;
              }
            }
          }
        }
        .accordion-button {
          &.collapsed {
            color: #b1b1b1;
            font-weight: 400;
            &::before {
              opacity: 0;
            }
          }
          &:hover {
            color: #53aaf9;
            font-weight: 700;
            &::before {
              opacity: 1;
            }
          }
          transition: all ease 0.1s;
          color: #53aaf9;
          font-weight: 700;
          font-family: 'Nunito Sans';
          font-size: 18px;
          font-style: normal;

          line-height: normal;
          display: flex;
          gap: 26px;
          align-items: center;
          padding-top: 18px;
          padding-bottom: 18px;
          padding-left: 46px;
          padding-right: 46px;
          &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 6px;
            height: 100%;
            background-color: #53aaf9;
            border-radius: 0px 10px 10px 0px;
            transition: all ease 0.8s;
            opacity: 1;
          }
          svg {
          }
          span {
          }
          &.active {
            color: #53aaf9;
            font-weight: 700;
            &::before {
              opacity: 1;
            }
          }
          &:not(.collapsed)::after {
            transform: rotate(450deg);
          }
          &::after {
            flex-shrink: 0;
            width: 10px;
            height: 14px;
            margin-left: auto;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='14' viewBox='0 0 9 14' fill='none'%3E%3Cpath d='M1 13.2695L7 7.1344L0.999999 0.999261' stroke='%23949494' stroke-width='1.5'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 9px;
            transition: all ease 0.6s;
            position: absolute;
            right: 30px;
          }
        }
        .accordion-collapse {
          ul {
            padding-left: 46px;
            padding-right: 46px;
            padding-top: 20px;
            li {
              margin-bottom: 10px;
              a {
                transition: all ease 0.1s;
                &:hover,
                &.active {
                  color: #53aaf9;
                  font-weight: 700;
                }
                color: #b1b1b1;
                font-family: 'Nunito Sans';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: flex;
                gap: 26px;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
  // left item end
  // header start
  header {
    position: fixed;
    z-index: 9;
    top: 0;
    width: 81%;
    margin-left: 19%;
    padding-right: 30px;
    padding-left: 70px;
    background-color: #fff;
    padding-bottom: 15px;
    padding-top: 15px;
    transition: all ease 0.6s;
    .searchbar {
      position: relative;
      width: 388px;
      max-width: 100%;
      input {
        border-radius: 19px;
        border: 0.6px solid #d5d5d5;
        background: #f5f6fa;
        padding: 10px 15px 10px 45px;
        color: #202224;
        font-family: 'Nunito Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &::placeholder {
          color: #202224;
        }
      }
      button {
        position: absolute;
        top: 50%;
        padding: 0;
        transform: translateY(-50%);
        left: 16.5px;
        svg {
        }
      }
    }
    .rightHeader {
      gap: 25px;
      .dropdown {
        button {
          border: 0;
          &:focus {
            outline: none;
            box-shadow: none;
          }
          &::after {
            display: inline-block;
            margin-left: 0;
            vertical-align: 0;
            content: '';
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
            border-left: 0;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M5.00033 3.92439L1.9128 0.83687C1.685 0.609064 1.31565 0.609064 1.08785 0.83687C0.860041 1.06468 0.860041 1.43402 1.08785 1.66183L4.58785 5.16183C4.81565 5.38963 5.185 5.38963 5.4128 5.16183L8.9128 1.66183C9.14061 1.43402 9.14061 1.06468 8.9128 0.83687C8.685 0.609064 8.31565 0.609064 8.08785 0.83687L5.00033 3.92439Z' fill='%23646464'/%3E%3Cmask id='mask0_112_3507' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='6'%3E%3Cpath d='M5.00033 3.92439L1.9128 0.83687C1.685 0.609064 1.31565 0.609064 1.08785 0.83687C0.860041 1.06468 0.860041 1.43402 1.08785 1.66183L4.58785 5.16183C4.81565 5.38963 5.185 5.38963 5.4128 5.16183L8.9128 1.66183C9.14061 1.43402 9.14061 1.06468 8.9128 0.83687C8.685 0.609064 8.31565 0.609064 8.08785 0.83687L5.00033 3.92439Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_112_3507)'%3E%3C/g%3E%3C/svg%3E");
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 9px;
            height: 5px;
            background-size: 100%;
            background-repeat: no-repeat;
          }
        }

        &.dpd1 {
          button {
            padding: 0;
            position: relative;
            &::after {
              display: none;
            }
            svg {
            }
            .notiNumber {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              background-color: #f93c65;
              color: #fff;
              font-family: 'Nunito Sans';
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              display: inline-block;
              position: absolute;
              top: -8px;
              right: -2px;
            }
          }
          .dropdown-menu {
            li {
              a {
              }
            }
          }
        }
        &.dpd2 {
          button {
            display: flex;
            gap: 16px;
            padding: 0;
            padding-right: 15px;
            align-items: center;
            img {
            }
            span {
            }
          }
        }
        &.dpd3 {
          button {
            padding: 0;
            padding-right: 40px;
            &::after {
              background-size: 10px;
              width: 18px;
              height: 18px;
              border: 1px solid #ddd;
              background-position: center;
              border-radius: 50%;
            }
            .media {
              gap: 20px;
              align-items: center;
              img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #d8d8d8;
              }
              .media-body {
                text-align: left;
                .userTitle {
                  display: block;
                  color: #404040;
                  font-family: 'Nunito Sans';
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                }
                .userRool {
                  display: block;
                  color: #565656;
                  font-family: 'Nunito Sans';
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                }
              }
            }
          }
          .dropdown-menu {
            li {
              a {
              }
            }
          }
        }
      }
    }
  }
  // header end
  .apexcharts-canvas {
    margin: auto;
  }
  // rightItem start
  .rightItem {
    padding-top: 110px;
    padding-left: 15px;
    padding-right: 55px;
    width: 81%;
    margin-left: 19%;
    transition: all ease 0.6s;
  }
  // rightItem end

  .salesOverview {
    .salesOverviewRow {
      --bs-gutter-x: 30px;
    }
    .salesItem {
      --bs-gutter-x: 30px;
      --bs-gutter-y: 24px;

      .item {
        border-radius: 25px;
        background: #fff;
        padding: 25px 27px;
        a {
          display: block;
          .media {
            gap: 15px;
            .box {
              width: 70px;
              height: 70px;
              background-color: #e7edff;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              &.color2 {
                background-color: #fff5d9;
              }
              &.color3 {
                background-color: #ffe0eb;
              }
              &.color4 {
                background-color: #dcfaf8;
              }
              svg {
              }
            }
            .media-body {
              .title {
                color: #848484;
                font-family: 'Nunito Sans';
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 5px;
                display: block;
              }
              .numbers {
                color: #232323;
                font-family: 'Nunito Sans';
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                display: block;
              }
            }
          }
        }
      }
    }
    .salesOverviewRight {
      overflow: hidden;
      border-radius: 25px;
      background: #fff;
      padding-top: 24px;
      padding-bottom: 12px;
      .TitleArea {
        padding-right: 11px;
        padding-left: 20px;
        h2 {
          color: #202224;
          font-family: 'Nunito Sans';
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px; /* 83.333% */
          margin-bottom: 0;
          text-align: center;
          width: 50%;
          max-width: 100%;
        }
        select {
          border-radius: 4px;
          border: 0.6px solid #d5d5d5;
          background-color: #fcfdfd;
          width: 102.639px;
          color: rgba(43, 48, 52, 0.4);
          font-family: 'Nunito Sans';
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          text-align: center;
          line-height: 10px;
          height: 28px;
        }
      }
      .salesOverviewItem {
        margin-top: 15px;
        padding-left: 47px;
        padding-right: 20px;
        .imgItem {
          svg {
          }
        }
        .contentItem {
          max-width: 220px;
          .innerItem {
            margin-bottom: 15px;
            .priceTitle {
              svg {
              }
              span {
                color: #718ebf;
                font-family: 'Nunito Sans';
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
            .price {
              span {
                color: #202224;
                font-family: 'Nunito Sans';
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
            }
          }
        }
      }
    }

    &.smsOverview {
      background: #fff;
      padding: 30px 26px;
      border-radius: 26px;
      margin-bottom: 30px;
      .salesItem {
        --bs-gutter-x: 10px;
        --bs-gutter-y: 10px;

        .item {
          background-color: #f2f4f7;
          a {
            .media {
              .box {
              }
              .media-body {
                .title {
                }
                .numbers {
                }
              }
            }
          }
        }
      }
      .salesOverviewRight {
        border-radius: 0;
        background: rgba(0, 0, 0, 0);
        padding-top: 0;
        padding-bottom: 0;
        max-width: 430px;
        .TitleArea {
          padding-right: 0;
          padding-left: 0;
          h2 {
            width: 45%;
          }
          select {
          }
        }
        .salesOverviewItem {
          padding-left: 0;
          padding-right: 0;

          .imgItem {
            svg {
            }
          }
          .contentItem {
            max-width: 212px;
            margin-left: auto;
            .innerItem {
              .priceTitle {
                svg {
                }
                span {
                }
              }
              .price {
                span {
                }
              }
            }
          }
        }
      }
    }
  }
  // table start
  .ordersOverviewTable {
    padding: 22px 30px;
    border-radius: 14px;
    background: #fff;
    box-shadow: 6px 6px 54px 0px rgba(0, 0, 0, 0.03);
    h2 {
      color: #202224;
      font-family: 'Nunito Sans';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.114px;
      margin-bottom: 23px;
    }
    .table-responsive {
      overflow-x: auto;
      white-space: nowrap;
      position: relative;
    }

    .table-container {
      overflow-x: hidden;
    }
    .arrows {
      position: absolute;
      right: 5px;
      top: 10px;
      display: flex;
      gap: 0 8px;
      display: none;
      button {
        padding: 0;
      }
      .next-btn {
      }
      .prev-btn {
      }
    }
    table {
      thead tr {
        * {
          background: #f1f4f9;
          border: 0;
        }
        th:first-child {
          border-radius: 8px 0px 0px 8px;
        }
        th:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
      tr {
        th {
          color: #202224;
          font-family: 'Nunito Sans';
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          padding: 15px;
          text-align: left;
        }
        td {
          color: #202224;
          font-family: 'Nunito Sans';
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          padding: 26px 9px;
          border-color: rgb(151 151 151 / 50%);

          button {
            border-radius: 4.5px;
            background: rgb(0 182 155 / 20%);
            padding: 5.5px 17px;
            color: #00b69b;
            font-family: 'Nunito Sans';
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border: 0;
            width: 93px;
            max-width: 100%;
            &.Pending {
              color: #53aaf9;
              background: rgb(83, 170, 249, 0.2);
            }
            &.Failed {
              color: #ef3826;
              background: rgb(239, 56, 38, 0.2);
            }
          }
        }
      }
    }
    nav {
      .pagination {
        .page-item {
          a {
            display: flex;
            width: 30px;
            height: 28px;
            padding: 0px var(8.889px);
            align-items: center;
            gap: var(5.926px);
            justify-content: center;
            color: var(--Navigations-Pagination-Label-Color, #6b7280);
            text-align: center;
            font-family: Inter;
            font-size: 11.852px;
            font-style: normal;
            font-weight: 500;
            line-height: 17.778px; /* 150% */
            letter-spacing: 0.059px;
            &:hover,
            &.active {
              border-radius: var(
                --Navigations-Pagination-Link-Border-Radius,
                5.926px
              );
              background: var(
                --Navigations-Pagination-Active-Bg-Color,
                #e5e7eb
              );
            }
          }
          svg {
          }
        }
      }
    }
  }
  // table end
  // ordersOverview star
  .ordersOverview {
    margin-top: 30px;
    margin-bottom: 30px;

    .SuccessItem {
      .row {
        --bs-gutter-y: 14px;
      }
      .item {
        border-radius: 14px;
        background: #fff;
        box-shadow: 6px 6px 54px 0px rgba(0, 0, 0, 0.05);
        padding: 25px 20px 25px 20px;
        margin-bottom: 11px;
        &:last-child {
          margin-bottom: 0;
        }
        .leftTitle {
          margin-bottom: 30px;
          .titleText {
            color: #202224;
            font-family: 'Nunito Sans';
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 16px;
          }
          .titleNumber {
            color: #202224;
            font-family: 'Nunito Sans';
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
          }
        }
        .imgRight {
          svg {
          }
        }
        .itemButtom {
          color: #606060;
          font-family: 'Nunito Sans';
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          gap: 8px;
          svg {
          }
          .uptodownGreenText {
            color: #00b69b;
          }
          .uptodownRedText {
            color: #f93c65;
          }
          .uptoDonwtext {
          }
        }
      }
    }
  }
  // customer start
  .customer {
    margin-bottom: 30px;
    table {
      tbody {
        tr {
          &:last-child {
            td {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }
  // CampaignsOverview star
  .CampaignsOverview {
    margin-bottom: 30px;
    .ordersOverviewTable {
      .topITem {
        margin-bottom: 23px;
        h2 {
          margin-bottom: 0;
        }
        select {
          border-radius: 4px;
          border: 0.6px solid #d5d5d5;
          background-color: #fcfdfd;
          width: 102.639px;
          color: rgba(43, 48, 52, 0.4);
          font-family: 'Nunito Sans';
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          text-align: center;
          line-height: 10px;
          height: 28px;
        }
      }
      table {
        tr {
          th {
            text-align: center;
          }
          td {
            border: 0;
            text-align: center;
          }
        }
      }
      .CampaignsOverviewIem {
        .row {
          --bs-gutter-x: 25px;
        }
        margin-bottom: 34px;
        .item {
          border-radius: 25px;
          background: #f2f4f7;
          padding: 11px;
          gap: 15px;
          .itemImg {
            img {
            }
          }
          .contentItem {
            .titleText {
              color: #848484;
              font-family: 'Nunito Sans';
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              margin-bottom: 5px;
            }
            .titleNumber {
              color: #232323;
              font-family: 'Nunito Sans';
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}
.wrapperLoos {
  header {
    width: 92%;
    margin-left: 8%;
    transition: all ease 0.6s;
  }
  .rightItem {
    width: 92%;
    margin-left: 8%;
    transition: all ease 0.6s;
  }
}
// wrapper end
// login start
.loginWrapp {
  padding-top: 90px;
  padding-bottom: 40px;
  .box {
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    .logo {
      text-align: center;
      margin-bottom: 31px;
      a {
        img {
          width: 275px;
        }
      }
    }
    .boxInner {
      border-radius: 24px;
      padding: {
        top: 90px;
        left: 57px;
        right: 57px;
        bottom: 70px;
      }
      h1 {
        font-size: 30px;
        color: #202224;
        letter-spacing: -0.11px;
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
        letter-spacing: -0.06px;
        color: #202224;
        font-weight: 600;
        margin-bottom: 0;
      }
      form {
        button {
          transition: all ease 0.6s;
          &:hover {
            background-color: #0081d8 !important;
            color: #fff !important;
            transition: all ease 0.6s;
          }
        }
        a {
          &:hover {
            color: #0081d8 !important;
          }
        }
        margin-top: 37px;
        .form-check {
          margin-bottom: 55px;
        }
        .mb-3 {
          label {
            color: #202224;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 15px;
            display: block;
          }
          input {
            border-color: #d8d8d8;
            background-color: #f1f4f9;
            border-radius: 8px;
            padding: 16px 15.5px;
            font-size: 18px;
            font-weight: 600;
            &.form-check-input {
              padding: 11px 11px;
              border-radius: 5px;
              background-color: transparent;
            }
            &:checked {
              background-color: #0d6efd !important;
              border-color: #0d6efd !important;
            }
          }
          .form-check-label {
            color: #202224;
            font-size: 18px;
            font-weight: 600;
            padding-left: 10px;
            padding-top: 3px;
          }

          .passwordItem {
            margin-bottom: 15px;
            padding-top: 24px;
            label {
              margin-bottom: 0;
            }
            a {
              color: #202224;
              font-size: 18px;
              font-weight: 600;
            }
          }
        }
        .signInButton {
          background-color: #53aaf9;
          border-radius: 8px;
          width: 418px;
          max-width: 100%;
          margin: 0 auto;
          display: block;
          font-size: 20px;
          font-weight: 700;
          padding: 15px;
          border: 0;
          margin-bottom: 18px;
        }
        .dontHave {
          font-size: 18px;
          font-weight: 600;
          color: #202224;
          text-align: center;
          display: block;
          margin-bottom: 80px;
          a {
            color: #53aaf9;
            text-decoration: underline;
          }
        }
        .or {
          position: relative;
          text-align: center;
          margin-bottom: 24px;
          &::after {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
            background-color: #dddddd;
          }
          span {
            display: inline-block;
            font-size: 18px;
            font-weight: 600;
            background-color: #fff;
            position: relative;
            z-index: 99;
            padding: 0 10px;
            color: #202224;
          }
        }
        ul {
          li {
            &:last-child {
              button {
                margin-bottom: 0;
                background-color: #fff;
                color: rgb(0 0 0 / 54%);
                box-shadow: 0 0rem 0.5rem 1px rgba(0, 0, 0, 0.075);
              }
            }
            button {
              background-color: #53aaf9;
              border-radius: 8px;
              width: 418px;
              max-width: 100%;
              margin: 0 auto;
              display: flex;
              justify-content: start;
              font-size: 20px;
              font-weight: 700;
              padding: 15px;
              gap: 15px;
              align-items: center;
              border: 0;
              color: #fff;
              margin-bottom: 20px;

              span {
              }
              svg {
              }
            }
          }
        }
      }
    }
  }
}
// login end
// CharleneReed start
.CharleneReed {
  margin-bottom: 30px;
  .itemText {
    h2 {
      font-size: 32px;
      margin-bottom: 0;
      color: #202224;
      letter-spacing: -0.11px;
    }
  }
  .itemLink {
    ul {
      gap: 6.67px;
      li {
        a {
          background-color: #53aaf9;
          display: flex;
          text-align: center;
          justify-content: center;
          gap: 10px;
          align-items: center;
          font-size: 16px;
          color: #fff;
          border-radius: 8px;
          padding: 14px 16px;
          &.Disable {
            background-color: #ef3826;
          }
          svg {
          }
          span {
          }
        }
      }
    }
  }
}
// CharleneReed end
